{% extends "::base.html.twig" %}

{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    {#{{ asset('assets/css/thechance.css') }}#}
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ asset('assets/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/home.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{{ asset('assets/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
    <script src="{{ asset('assets/js/ie-emulation-modes-warning.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}
    <video autoplay  poster="{{ asset('assets/images/polina.jpg') }}" id="bgvid" loop>
        {#<source src="{{ asset('assets/media/KEEPAWAKE.webm') }}" type="video/webm">#}
        <source src="{{ asset('assets/media/KEEPAWAKE.mp4') }}" type="video/mp4">
    </video>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div id="contenedor" class="masthead clearfix">
                    <div class="inner">
                        <h1 class="heading">Comercial</h1>
                        <p class="subtitulo">
                            Su objetivo es posicionar <br>
                            un producto o servicio
                        </p>
                        <nav>
                            <button id="button-menu" type="button" class="nav masthead-nav">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </nav>
                    </div>
                </div>
                <div id="sub-contenedor" class="masthead clearfix">
                    <div class="fondo"></div>
                    <h1 class="sub-heading">Comercial</h1>
                </div>
            </div>
            <div id="left-box" class="container">
                <div class="menu-lateral">
                    <ul class="productos">
                        <li><a href="#">Comercial</a></li>
                        <li><a href="#">Coorporativo</a></li>
                        <li><a href="#">Institucional</a></li>
                        <li><a href="#">Testimonial</a></li>
                        <li><a href="#">Videoclip</a></li>
                        <li><a href="#">Aéreo</a></li>
                        <li><a href="#">E-Learning</a></li>
                        <li><a href="#">Interactivo</a></li>
                    </ul>
                    <span id="close-left-box" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'AppBundle:Default:home.js.twig'  %}
{% endblock %}